article{
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid $color-white-gray;
  border-radius: 10px;
  transition: 0.5s;

  .pic{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: $color-light-gray;
    filter: grayscale(0.6);
    transition: 0.5s;

    img{
      width: 100%;
      height: 100%;
      image-rendering: -webkit-optimize-contrast;
      transform: translateZ(0);
      backface-visibility: hidden;
      object-fit: cover;
      transition: 0.5s;
    }

    &:hover{
      filter: grayscale(0);
      img{
        transform: scale(1.3) translateZ(0);
      }
    }
  }

  .txt{
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3{
      font-size: $font-size-regular;
      margin-bottom: 5px;
    }
    .tags{
      display: flex;
      gap: 2px;
      flex-wrap: wrap;

      span{
        padding: 2px;
        border: 1px solid $color-gray;
        border-radius: 3px;
        font-size: $font-size-small;
        color: $color-dark-gray;

        &[data-state="1"]{  // 분양중
          border: 1px solid $color-theme;
          background-color: $color-theme;
          color: $color-white;
        }

        &[data-state="2"]{  // 분양완료
          background-color: $color-gray;
          color: $color-white;
        }
      }
    }
  }

  &:hover{
    border-color: $color-theme;
  }
}

@media screen and (max-width: $screen-size-tablet) {
}

@media screen and (max-width: $screen-size-mobile) {
  article{
    height: 130px;
    display: flex;

    .pic{
      width: 130px;
    }

    .txt{
      width: calc(100% - 130px);
      height: 100%;

      .tags{
        span{
          font-size: $font-size-smallest;
        }
      }
    }
  }
}