.gallery{

  .inner{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-bottom: 1px solid $color-light-gray;
  
    div{
      width: 100%;
      height: calc(1180px / 3);
      background-color: $color-white-gray;
      border: 1px solid $color-light-gray;
    }
  }

  &:nth-last-of-type(2){
    .inner{
      border-bottom: 0;
    }
  }
}

@media screen and (max-width: $screen-size-tablet) {
  #gallery{
    grid-template-columns: 1fr 1fr;
    padding: 20px;

    div{
      height: 40vw;
    }
  }
}
