@font-face {
  font-family: "NanumSquareNeo";
  font-display: swap;
  src: url("../fonts/NanumSquareNeo-Variable.eot"), url("../fonts/NanumSquareNeo-Variable.woff2") format("woff2"), url("../fonts/NanumSquareNeo-Variable.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 5;
}
header .inner {
  height: 100%;
}
header .inner h1 {
  height: 100%;
}
header .inner h1 a {
  height: 100%;
  display: flex;
  align-items: center;
}
header .inner h1 a i {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  fill: #005BD4;
  margin-right: 5px;
}
header .inner h1 a span {
  font-size: 24px;
  color: #000;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eee;
}
footer .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .inner address {
  text-align: center;
  font-style: normal;
  font-size: 12px;
  color: #888;
  letter-spacing: 1px;
}
footer .inner address strong {
  font-weight: 500;
  font-variation-settings: "wght" 500;
  color: #005BD4;
}

main {
  height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
}

article {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: 0.5s;
}
article .pic {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #bbb;
  filter: grayscale(0.6);
  transition: 0.5s;
}
article .pic img {
  width: 100%;
  height: 100%;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
  object-fit: cover;
  transition: 0.5s;
}
article .pic:hover {
  filter: grayscale(0);
}
article .pic:hover img {
  transform: scale(1.3) translateZ(0);
}
article .txt {
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article .txt h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
article .txt .tags {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}
article .txt .tags span {
  padding: 2px;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 12px;
  color: #444;
}
article .txt .tags span[data-state="1"] {
  border: 1px solid #005BD4;
  background-color: #005BD4;
  color: #fff;
}
article .txt .tags span[data-state="2"] {
  background-color: #888;
  color: #fff;
}
article:hover {
  border-color: #005BD4;
}

@media screen and (max-width: 539px) {
  article {
    height: 130px;
    display: flex;
  }
  article .pic {
    width: 130px;
  }
  article .txt {
    width: calc(100% - 130px);
    height: 100%;
  }
  article .txt .tags span {
    font-size: 11px;
  }
}
.btnShowFilter {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: calc(50% - 590px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  cursor: pointer;
}
.btnShowFilter::before {
  content: "\f002";
  position: absolute;
  font-family: fontawesome;
  font-size: 18.4615384615px;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition: 0.5s;
}
.btnShowFilter::after {
  content: "\f00d";
  position: absolute;
  font-family: fontawesome;
  font-size: 24px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 0.5s;
}
.btnShowFilter.on::before {
  transform: rotateY(180deg);
}
.btnShowFilter.on::after {
  transform: rotateY(0deg);
}

#filter {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #eee;
}
#filter.on {
  height: auto;
}
#filter .inner {
  padding: 10px 0;
  position: relative;
}
#filter .inner ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#filter .inner ul > li {
  width: 100%;
  padding: 2px 4px;
  display: flex;
}
#filter .inner ul > li span {
  width: 10%;
  min-width: 60px;
  padding: 7px 5px;
  color: #444;
  font-size: 12px;
}
#filter .inner ul > li ul {
  width: 90%;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#filter .inner ul > li ul::-webkit-scrollbar {
  display: none;
}
#filter .inner ul > li ul li {
  flex: 0 0 auto;
  width: auto;
}
#filter .inner ul > li ul li a {
  display: block;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: #444;
  font-size: 12px;
  transition: 0.5s box-shadow;
}
#filter .inner ul > li ul li a:hover {
  box-shadow: 0 1px 3px #bbb;
}
#filter .inner ul > li ul li a.on {
  background-color: #005BD4;
  color: #fff;
}
#filter .inner ul > li ul li a.on:hover {
  box-shadow: none;
}
#filter .inner .btnResetFilter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 5px;
  font-size: 12px;
  color: #888;
  transition: 0.5s;
}
#filter .inner .btnResetFilter::before {
  content: "\f363";
  font-family: fontawesome;
  margin-right: 3px;
}
#filter .inner .btnResetFilter:hover {
  color: #444;
}

@media screen and (max-width: 1179px) {
  .btnShowFilter {
    right: 0;
  }
}
@media screen and (max-width: 539px) {
  #filter .inner .btnResetFilter {
    padding-bottom: 0;
    position: relative;
  }
}
#index {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #005BD4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .inner {
  width: 500px;
  height: 450px;
  flex-shrink: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index .inner h1 {
  height: 40px;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
#index .inner h1 i {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  fill: #fff;
  margin-right: 10px;
}
#index .inner h1 span {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  font-size: 36px;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  color: #fff;
  animation: index-logo 1s linear 1;
}
#index .inner ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}
#index .inner ul li {
  flex: 1;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 0 #bbb;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;
}
#index .inner ul li:hover {
  box-shadow: 0 0 0 #bbb;
  transform: translateY(10px);
}
#index .inner ul li a {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
}
#index .inner ul li a span {
  font-size: 24px;
  font-weight: 300;
  font-variation-settings: "wght" 300;
}
#index .inner ul li:nth-of-type(1) a {
  background-size: 70%;
  background-position: 60% 30%;
  background-image: url("../img/index_icon_0.png");
}
#index .inner ul li:nth-of-type(2) a {
  background-size: 60%;
  background-position: 50% 30%;
  background-image: url("../img/index_icon_2.png");
}
#index .inner p {
  margin-top: 50px;
  font-size: 12px;
  font-weight: 100;
  font-variation-settings: "wght" 100;
  line-height: 1;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.5s;
}

@keyframes index-logo {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 200px;
  }
}
@media screen and (max-width: 539px) {
  #index .inner {
    width: 100%;
    padding: 0 15px;
  }
  #index .inner ul {
    flex-direction: column;
  }
  #index .inner ul li a {
    justify-content: flex-end;
    align-items: center;
    padding: 8vw;
  }
  #index .inner ul li:nth-of-type(1) a {
    background-size: 40%;
    background-position: 20% 50%;
  }
  #index .inner ul li:nth-of-type(2) a {
    background-size: 35%;
    background-position: 20% 50%;
  }
  #index .inner p {
    letter-spacing: 0px;
  }
}
main .inner {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 1179px) {
  main .inner {
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 539px) {
  main .inner {
    grid-template-columns: 1fr;
  }
}
body {
  font-family: "NanumSquareNeo";
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
}

.inner {
  width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 1179px) {
  .inner {
    width: 100%;
    padding: 0 5px;
  }
}

/*# sourceMappingURL=style.css.map */
