@font-face {
  font-family: "NanumSquareNeo";
  font-display: swap;
  src: url("../fonts/NanumSquareNeo-Variable.eot"),
    url("../fonts/NanumSquareNeo-Variable.woff2") format("woff2"),
    url("../fonts/NanumSquareNeo-Variable.woff") format("woff");
}

$color-theme: #005BD4;
$color-black: #000;
$color-dark-gray: #444;
$color-gray: #888;
$color-light-gray: #bbb;
$color-white-gray: #eee;
$color-white: #fff;

$font-neo: 'NanumSquareNeo';
$font-size-large: 36px;
$font-size-medium: 24px;
$font-size-regular: 16px;
$font-size-small: 12px;
$font-size-smallest: 11px;

$screen-size-tablet: 1179px;
$screen-size-mobile: 539px;

@mixin font-weight($weight: 300) {
  font-weight: $weight;
  font-variation-settings: 'wght' $weight;
}

@mixin logo($size: 40px, $color: $color-theme) {
  display: block;
  width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;
  fill: $color;
}

@mixin style-button($shadow-size: 10px, $color: $color-light-gray) {
  box-shadow: 0 $shadow-size 0 $color;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 0 $color;
    transform: translateY($shadow-size);
  }
}


// common
@import './common/reset.scss';
@import './common/header.scss';
@import './common/footer.scss';
@import './common/layout.scss';
@import './common/listVisual.scss';
@import './common/article.scss';
@import './common/filter.scss';

// routers
@import './routers/indexSelect.scss';
@import './routers/articleList.scss';
@import './routers/content.scss';


body{
  font-family: $font-neo;
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  overscroll-behavior: none;
}

.inner{
  width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: $screen-size-tablet) {
  .inner{
    width: 100%;
    padding: 0 5px;
  }
}