@font-face {
  font-family: "NanumSquareNeo";
  src: url("../fonts/NanumSquareNeo-Variable.eot"),
       url("../fonts/NanumSquareNeo-Variable.woff2") format("woff2"),
       url("../fonts/NanumSquareNeo-Variable.woff") format("woff");
}

$color-theme: #005BD4;
$color-light-gray: #bbb;
$color-white: #fff;
$font-neo: 'NanumSquareNeo';
$font-size-large: 36px;
$font-size-medium: 24px;
$font-size-small: 12px;

@mixin font-weight($weight: 300) {
  font-weight: $weight;
  font-variation-settings: 'wght' $weight;
}

@mixin logo($size: 40px, $color: $color-theme) {
  width: $size;
  height: $size;
  fill: $color-white;
}

@mixin style-button($shadow-size: 10px, $color: $color-light-gray) {
  box-shadow: 0 $shadow-size 0 $color;
  transform: translateY(0);
  transition: 0.3s;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 0 $color;
    transform: translateY($shadow-size);
  }
}



// common
@import './common/reset';
@import './common/header';
@import './common/footer';

// main
@import './main/indexSelect';

// sub
@import './sub/article';
@import './sub/layout';
@import './sub/listCompletion';
@import './sub/listSchedule';

body{
  font-family: $font-neo;
}