#list{
  .inner{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: $screen-size-tablet) {
  #list{
    .inner{
      padding-left: 10px;
      padding-right: 10px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: $screen-size-mobile) {
  #list{
    .inner{
      grid-template-columns: 1fr;
    }
  }
}