#content{
  width: 100%;

  figure{
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid $color-white-gray;

    &::before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba($color:$color-gray, $alpha: 0), rgba($color:$color-gray, $alpha: 1));
    }

    .txt{
      width: 100%;
      height: 100%;
      padding: 5vh 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
      .date{
        font-size: $font-size-regular;
        color: $color-white;
      }

      h1{
        font-size: $font-size-large;
        color: $color-white;
      }

      .tags{
        display: flex;
        gap: 5px;

        span{
          padding: 5px;
          background-color: $color-white;
          border-radius: 5px;
          font-size: $font-size-regular;
          color: $color-dark-gray;
        }
      }
    }
  }

  .inner{

    .tabMenu{
      width: 1180px;
      height: 50px;
      display: flex;
      background-color: $color-white;

      li{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color-gray;
        color: $color-dark-gray;
        cursor: pointer;

        &.on{
          border-bottom: 3px solid $color-theme;
          color: $color-theme;
          @include font-weight(500);
        }
      }
    }

    &.menuOn{
      padding-top: 50px;

      .tabMenu{
        position: fixed;
        top: 0;
        z-index: 5;
      }
    }

    .tabBody{
      >div{
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: $screen-size-tablet) {
  #content{
    .inner{
      .tabMenu{
        width: 100%;
      }
    }
  }
}