#index{
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: $color-theme;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner{
    width: 500px;
    height: 450px;
	  flex-shrink: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      height: 40px;
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
    
      i{
        @include logo(40px, $color-white);
        margin-right: 10px;
      }

      span{
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        font-size: $font-size-large;
        @include font-weight(500);
        color: $color-white;
        animation: index-logo 1s linear 1;
      }
    }

    ul{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 20px;

      li{
        flex: 1;
        height: 100%;
        background-color: $color-white;
        border-radius: 20px;
        @include style-button(10px, $color-light-gray);

        a{
          display: block;
          width: 100%;
          height: 100%;
          padding: 30px;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          span{
            font-size: $font-size-medium;
            @include font-weight(300);
          }
        }
      }
    }

    p{
      margin-top: 50px;
      font-size: $font-size-small;
      @include font-weight(100);
      line-height: 1;
      color: $color-white;
      letter-spacing: 2px;
      transition: 0.5s;
    }
  }
}

@keyframes index-logo {
  0% { 
    max-width: 0;
  }
  100% {
    max-width: 200px;
  }
}

@media screen and (max-width: $screen-size-mobile) {
  #index{
    .inner{
      width: 100%;
      padding: 0 30px;
      ul{
        flex-direction: column;
        li{
          a{
            justify-content: flex-end;
            align-items: center;
          }
        }
      }
      p{
        letter-spacing: 0px;
      }
    }
  }
}
